[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "/home/tek/.tmux/plugins/tpm"]
	path = /home/tek/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "/home/tek/.tmux/plugins/tmux-sensible"]
	path = /home/tek/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
